@charset "utf-8";
/* 上記のHTMLのdivと書いてあるものに少しスタイルをつけてみましょう */
div { /* divと書いてあるものが、このカッコ内のスタイルを適用させるターゲット（セレクタ） */
  width: 300px; /* セレクタの幅の指定 */
  color: #fff; /* セレクタの文字の色の指定 */
  font-weight: bold; /* セレクタの文字の太さを指定 */
  font-size: 20px; /* セレクタの文字の大きさを指定 */
  background-color: #555; /* セレクタの背景色を指定 */
}
